@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="css/index.css" />

</head>

<section class="hero">
    <video class="hero-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy">
        <source src="images/hero-video.mp4" type="video/mp4"/>
    </video>

    <div class="hero-content h-100 container-xxl position-relative">
        <div class="d-flex h-100 align-items-center">
            <div class="text-light">
                <h1 class="fw-bold mb-3">Lease the right equipment for your job</h1>
                <p class="lead mb-3">Machineries, Equipments, Tools</p>
                <a href="a" class="mt-2 btn btn-lg btn-outline-light"
                   role="button">Contact us</a>
            </div>
        </div>
    </div>


    <a href="#scroll-down" class="hero-scroll-btn">
        Explore <i class="bi bi-arrow-down-short"></i>
    </a>
</section>